
/* THIS PAGE: "contact.css" CONTAINS THE STYLING OF MAIN CONTENT ON VISIT / CONTACT PAGE */

/* Reused CSS from other stylesheets: 
.sectionContainer (found in: "home.css")
.blueWrapper (found in: "home.css")
.textContainer (found in: "home.css")
.button (found in: "styles.css")
*/

.topPage-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    min-height: auto;
    margin: 0 1.75rem 75px 1.75rem;
}

.topPage-info h1 {
    font-size: 24px;
    margin: 40px 0 40px 0;
}

.topPage-info img {
    max-width: 100%;
    height: auto;
}

.visit-h2 {
    font-size: 18px;
    color: var(--textcolor-tertiary);
    text-align: center;
    margin-top: 35px;
}

.textContainer2 {
    color: var(--textcolor-primary);
    line-height: 20px;
    padding: 10px 12px 10px 12px;
    text-align: center;
}

.visit-p, .visit-p-special {
    text-align: center;
}

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: #6C6C6C;
    max-width: 100%;
    height: auto;
    margin: 50px 1.75rem 75px 1.75rem;
}

.formHeader {
    color: var(--textcolor-primary);
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
    margin-bottom: 25px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}

input, textarea {
    background-color: #D9D9D9;
    width: 100%;
    border: 2px solid #95086D;
    font-family: var(--font-nunito);
    font-size: 14px;
    padding: 5px 0 5px 0;
    margin-bottom: 6px;
    cursor: text;
    resize: none;
}

.formContainer .button2 {
    margin-top: 5px;
}

.imageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    min-height: auto;
    margin: 0 1.75rem 75px 1.75rem;
}

.imageWrapper img {
    max-width: 100%;
    height: auto;
}







