
/* THIS PAGE: "exhibitions.css" CONTAINS THE STYLING OF MAIN CONTENT ON EXHIBITIONS PAGE */

/* Reused CSS from other stylesheets:
.textContainer           (found in: "home.css") 
.button                  (found in: "styles.css")
*/

.smallBanner {
    background-image: url(../images/exhibitions/exhibitions_bg.jpg);
    background-size: cover;
    width: 100%;
    height: 6.375rem;
    text-align: center;
    overflow: hidden;
    margin-bottom: 4.688rem;
}

.smallBanner h1 {
    line-height: 4.5rem;
    font-size: 1.5rem;
}

.lightblueWrapper, .blueWrapper5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    min-height: auto;
    border-radius: 0.625rem;
    margin: 0 1.75rem 1.563rem 1.75rem;
}

.lightblueWrapper {
    background-color: var(--wrappercolor-second);
}

.blueWrapper5 {
    background-color: var(--wrappercolor);
}

.lightblueWrapper h2, .blueWrapper5 h2 {
    padding: 1.063rem 0 1.063rem 0;
    text-align: center;
    white-space: nowrap;
    font-size: 1.625rem;
}

.lightblueWrapper h2 {
    color: var(--textcolor-secondary);
}

.blueWrapper5 h2 {
    color: var(--textcolor-primary);
}

.lightblueWrapper img, .blueWrapper5 img {
    width: 100%;
    height: auto;
    border-radius: 0.625rem;
}

.exhibitionsTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lightblueWrapper .textContainer p, .blueWrapper5 .textContainer p {
    margin-top: 0;
    line-height: 1.25rem;
}

.lightblueWrapper p {
    color: var(--textcolor-secondary);
}

.smallBanner2 {
    background-image: url(../images/exhibitions/upcoming_bg.jpg);
    background-size: cover;
    width: 100%;
    height: 6.375rem;
    text-align: center;
    overflow: hidden;
    margin-top: 4.688rem;
    margin-bottom: 1.563rem;
}

.smallBanner2 h3 {
    color: var(--textcolor-primary);
    line-height: 4.5rem;
    font-size: 1.5rem;
}

.sectionContainer4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    min-height: auto;
    margin: 0 1.75rem 1.563rem 1.75rem;
}

.imageWrapperRound {
    position: relative;
    margin-bottom: 1.563rem;
}

.imageWrapperRound img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

.imageWrapperRound .button {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -65%);
}

.imageWrapperRound h4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--textcolor-primary);
    padding: 0;
    margin: 0;
    text-align: center;
    white-space: nowrap;
    font-size: 1rem;
}

.textContainer3 {
    margin: 3.125rem 1.75rem 4.688rem 1.75rem;
    text-align: center;
    color: var(--textcolor-primary);
    line-height: 1.25rem;
}


