
/* THIS PAGE: "home.css" CONTAINS THE STYLING OF MAIN CONTENT ON INDEX PAGE / HOMEPAGE */

.herobanner {
    background-image: url(../images/home/herobanner.jpg);
    background-size: cover;
    width: 100%;
    height: 265px;
    text-align: center;
    overflow: hidden;
    margin-bottom: 25px;
    border-bottom: 1px solid var(--wrappercolor);
}

.herobanner h1 {
    line-height: 16rem;
    font-size: 36px;
}

.clickableGames {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
    height: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

.forKids, .forTeens {
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: nowrap;
}

.clickableGames img {
    max-width: 100%;
    height: 100px;
    border-radius: 180px;
    margin-bottom: 8px;
    cursor: pointer;
}

.clickableGames p {
    color: var(--textcolor-primary);
}

.uppercase {
    text-transform: uppercase;
}

.sectionTextWrapper, .sectionTextWrapper2 {
    background-color: #FFFFFF;
    height: 50px;
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
}

.sectionTextWrapper {
    margin-top: 80px;
}

.sectionTextWrapper2 {
    margin-top: 55px;
}

.sectionTextWrapper h2, .sectionTextWrapper2 h2 {
    color: var(--textcolor-secondary);
    font-size: 24px;
    line-height: 3rem;
    text-transform: none;
}

.sectionContainer, .sectionContainer2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    min-height: auto;
    margin: 0 1.75rem 1.563rem 1.75rem;
}

.blueWrapper, .blueWrapper2, .blueWrapper3 {
    background-color: var(--wrappercolor);
    border-radius: 10px;
    width: 100%;
}

.blueWrapper, .blueWrapper3 {
    margin-bottom: 1.563rem;
}

.blueWrapper h3, .blueWrapper2 h3, .blueWrapper3 h3 {
    color: var(--textcolor-primary);
    padding: 17px 0 17px 0;
    text-align: center;
    white-space: nowrap;
    font-size: 18px;
}

.imageAndButtonContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageAndButtonContainer img, .blueWrapper2 img {
    max-width: 100%;
    height: auto;
}

.imageAndButtonContainer .button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.blueWrapper2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blueWrapper2 .button2 {
    margin-bottom: 18px;
}

.blueWrapper3 .button {
    top: 90%;
}

.textContainer {
    color: var(--textcolor-primary);
    line-height: 20px;
    padding: 10px 12px 10px 12px;
}

.kids-3Dprinter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 55px 1.75rem 55px 1.75rem;
}

.kids-3Dprinter img { 
    max-width: 100%;
    height: auto;
}

.kids-3Dprinter .textContainer {
    text-align: center;
}

.dnaBanner {
    background-image: url(../images/home/banner_dna.jpg);
    background-size: cover;
    height: 5.625rem;
    width: 100%;
}





