
.herobanner {
    background-image: url(../images/home/herobanner.jpg);
    background-size: cover;
    width: 100%;
    height: 265px;
    text-align: center;
    overflow: hidden;
    margin-bottom: 25px;
}

.herobanner h1 {
    color: var(--textcolor-primary);
    line-height: 16rem;
}

.sectionTextWrapper, .sectionTextWrapper2 {
    background-color: #FFFFFF;
    height: 50px;
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
}

.sectionTextWrapper {
    margin-top: 80px;
}

.sectionTextWrapper2 {
    margin-top: 55px;
}

.sectionTextWrapper h2, .sectionTextWrapper2 h2 {
    color: var(--textcolor-secondary);
    line-height: 3rem;
    text-transform: none;
}

.blueWrapper, .blueWrapper2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    min-height: auto;
    margin: 0 1.75rem 1.563rem 1.75rem;
}

.imageWrapper, .imageWrapper2, .imageWrapper3 {
    background-color: var(--wrappercolor);
}

.imageWrapper, .imageWrapper3 {
    margin-bottom: 1.563rem;
}

.imageWrapper h3, .imageWrapper2 h3, .imageWrapper3 h3 {
    color: var(--textcolor-primary);
    padding: 17px 0 17px 0;
    text-align: center;
}

.imageAndButtonContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageAndButtonContainer img, .imageWrapper2 img {
    max-width: 100%;
    height: auto;
}

.imageAndButtonContainer .button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.imageWrapper2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imageWrapper2 .button2 {
    margin-bottom: 18px;
}

.imageWrapper3 .button {
    top: 90%;
}

.textContainer {
    color: var(--textcolor-primary);
    line-height: 20px;
    padding: 10px 12px 10px 12px;
}

.kids-3Dprinter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 55px 1.75rem 55px 1.75rem;
}

.kids-3Dprinter img { 
    max-width: 100%;
    height: auto;
}

.kids-3Dprinter .textContainer {
    text-align: center;
}

.dnaBanner {
    background-image: url(../images/home/banner_dna.jpg);
    background-size: cover;
    height: 5.625rem;
    width: 100%;

}





