
/* THIS PAGE: "styles.css" CONTAINS IMPORTS, AND STYLING OF THE HEADER/NAV, FOOTER, BUTTONS, AND ALSO CSS MEDIA QUERIES FOR ALL FILES */

@import url(./reset.css);
@import url(./variables.css);
@import url(./home.css);
@import url(./contact.css);
@import url(./contribution.css);
@import url(./exhibitions.css);
@import url(./documents.css);

/* HEADER STYLING WITH HAMBURGER MENU */

header {
    padding: 0 1.75rem 0 1.75rem;
    position: fixed; 
    height: 7.25rem;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
    background-color: #000000;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

.logo a {
    display: block;
}

.logo img {
    display: block;
    height: 4.875rem;
    width: 8.125rem;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger {
    position: relative;
    width: 2.125rem;
    height: 0.25rem;
    display: block;
    background-color: #FFFFFF;
    border-radius: 0.313rem;
    cursor: pointer;
    z-index: 2;
    transition: 0.3s;
}

.hamburger:before, .hamburger:after {
    content: "";
    position: absolute;
    height: 0.25rem;
    right: 0;
    background-color: #FFFFFF;
    border-radius: 0.313rem;
    transition: 0.3s;
}

.hamburger:before {
    top: -0.625rem;
    width: 2.125rem;
}

.hamburger:after {
    top: 0.625rem;
    width: 2.125rem;
}

.toggle-menu {
    position: absolute;
    width: 2.125rem;
    height: 2.125rem;
    z-index: 3;
    cursor: pointer;
    opacity: 0;
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

.navigation input:checked ~ .hamburger {
    background: transparent;
}

.navigation input:checked ~ .hamburger:before {
    top: 0;
    transform: rotate(-45deg);
    width: 2.125rem;
}

.navigation input:checked ~ .hamburger:after {
    top: 0;
    transform: rotate(45deg);
    width: 2.125rem;
}

.navigation input:checked ~ .menu {
    right: 0;
}

.menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 5.938rem;
    right: -120%;;
    background-color: #000000;
    width: 100%;
    height: 14.875rem;
    z-index: 1;
    transition: 0.5s;
}

.menu li {
    width: 100%;
}

.menu li a {
    color: var(--textcolor-primary);
    display: block;
    text-align: center;
    padding: 1.25rem;
    font-size: 1.125;
    line-height: 1;
    border-top: 1px solid #D9D9D9;
    justify-content: center;
    transition: 0.1s;
}

li:last-child a {
    border-bottom: 1px solid #D9D9D9;
}


/* THIN BACKGROUND BANNER STYLING */

.gradientBanner {
    background-image: url("../images/all/banner_gradient.jpg");
    background-size: cover;
    height: 0.938rem;
    width: 100%;
    margin-top: 120px;
}


/* FOOTER STYLING */

.footer {
    background-image: url(../images/all/banner_footer.jpg);
    background-size: cover;
    width: 100%;
    height: auto;
    border-top: 1px solid #001C53;
    padding-top: 30px;
    padding-bottom: 12px;
}

.footerFlex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.shortcuts ul, .followUs ul {
    margin: 0;
    padding: 0;
    line-height: 2.5rem;
}

.shortcuts li, .shortcuts a {
    color: var(--textcolor-primary);
}

.shortcuts a {
    font-family: var(--font-nunito); 
    font-size: 14px;
}

.shortcuts p {
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.followUs .icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #FFFFFF;
    margin-bottom: 50px;
}

.followUs .icons i{
    padding: 0 12px 0 12px;
    cursor: pointer;
}

.footer h2, .footer h4 {
    color: var(--textcolor-primary);
}

.footer h2 {
    font-size: 24px;
}

.footer h4 {
    font-size: 14px;
    text-align: center;
}

.shortcuts h2 {
    margin-bottom: 30px;
}

.followUs h2 {
    margin-bottom: 35px;
    margin-top: 50px;
}


/* BUTTON STYLING */

.button, .button2 {
    border-radius: 1.25rem;
    background-color: var(--btn-color);
    padding: 16px 16px 16px 16px;
    border: 0.01rem solid #95086D;
    box-shadow: 0 0.1rem #95086D;
    cursor: pointer;
    white-space: nowrap;
}

.button p, .button2 p, .button a, .button2 a {
    color: var(--textcolor-primary);
    font-family: var(--font-nunito);
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
}


/* MEDIA QUERIES FOR TABLET AND DESKTOP, FOR ALL CSS FILES */

@media screen and (min-width: 760px){

    /* RESET CSS CHANGES, TABLET */

    p {
        font-size: 16px;
    }

    
    /* HEADER AND HAMBURGER MENU, TABLET */

    header {
        height: 8.563rem;
        padding: 0 3.75rem 0 3.75rem;
    }

    .logo img {
        height: 6.375rem;
        width: 10.625rem;
    }

    .menu {
        height: 16.125rem;
        top: 7.188rem;
    }

    .menu li a {
        font-size: 1.375rem;
    }


    /* THIN BACKGROUND BANNER, TABLET */

    .gradientBanner {
        background-image: url("../images/all/banner_gradient_tab.jpg");
        height: 1.25rem;
        margin-top: 140px;
    }


    /* FOOTER, TABLET */

    .footer {
        background-image: url(../images/all/banner_footer_tab.jpg);
        text-align: start;
    }

    .footerFlex {
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        text-align: start;
    }

    .shortcuts ul {
        line-height: 4.6rem;
    }

    .shortcuts a {
        font-size: 16px;
    }

    .shortcuts h2 {
        margin-top: 50px;
        margin-bottom: 35px;
    }

    .followUs .icons {
        flex-direction: column;
        font-size: 40px;
    }

    .followUs .icons i{
        padding: 30px 0 30px 0;
    }

    .footer h2 {
        font-size: 30px;
    }

    .footer h4 {
        font-size: 18px;
    }


    /* BUTTON, TABLET */

    .button, .button2 {
        border-radius: 2.2rem;
        padding: 22px 30px 22px 30px;
        box-shadow: 0 0.2rem #95086D;
    }
    
    .button p, .button2 p, .button a, .button2 a {
        font-size: 1.125rem;
    }


    /* INDEX/HOMEPAGE MAIN CONTENT, TABLET */

    .herobanner {
        height: 35rem;
    }

    .herobanner h1 {
        line-height: 30rem;
        font-size: 52px;
    }

    .clickableGames img {
        height: 130px;
    }

    .sectionTextWrapper, .sectionTextWrapper2 {
        height: 90px;
        margin-bottom: 54px;
    }

    .sectionTextWrapper h2, .sectionTextWrapper2 h2 {
        line-height: 5.2rem;
        font-size: 30px;
    }

    .sectionTextWrapper {
        margin-top: 120px;
    }

    .sectionTextWrapper2 {
        margin-top: 40px;
    }

    .sectionContainer {
        margin: 0 3.75rem 40px 3.75rem;
    }

    .sectionContainer2 {
        margin: 0 3.75rem 80px 3.75rem;
    }

    .textContainer {
        padding: 32px 30px 32px 30px;
    }

    .blueWrapper h3, .blueWrapper2 h3, .blueWrapper3 h3 {
        font-size: 22px;
    }

    .blueWrapper, .blueWrapper3 {
        margin-bottom: 80px;
    }

    .blueWrapper2 .button2 {
        margin-bottom: 32px;
    }

    .kids-3Dprinter {
        margin: 0 3.75rem 5rem 3.75rem;
    }

    .dnaBanner {
        height: 11.75rem;
    }


    /* VISIT MAIN CONTENT, TABLET */

    .topPage-info {
        margin: 0 3.75rem 80px 3.75rem;
    }

    .topPage-info h1 {
        font-size: 30px;
        margin: 60px 0 60px 0;
    }

    .visit-h2 {
        font-size: 22px;
    }

    .textContainer2 {
        padding: 32px 30px 32px 30px;
    }

    .formContainer {
        margin: 60px 3.75rem 100px 3.75rem;
    }

    .formHeader {
        font-size: 22px;
        margin-bottom: 35px; 
    }

    input, textarea {
        font-size: 16px;
        padding: 8px 0 8px 0;
        margin-bottom: 10px;
    }

    .formContainer .button {
        margin-top: 10px;
        padding-left: 50px; 
        padding-right: 50px;
    }

    .imageWrapper {
        margin: 0 3.75rem 100px 3.75rem;
    }


    /* CONTRIBUTION MAIN CONTENT, TABLET */

    .sectionContainer3 {
        margin: 0 3.75rem 80px 3.75rem;
    }
    
    .blueWrapper4 {
        margin-bottom: 80px;
    }
    
    .blueWrapper4 h2 {
        font-size: 22px;
    }
    
    .blueWrapper4 .button2 {
        margin-bottom: 32px;
    }
    
    .sectionContainer3:last-child {
        margin-bottom: 100px;
    }


    /* EXHIBITIONS MAIN CONTENT, TABLET */

    .smallBanner {
        height: 120px;
        margin-bottom: 60px;
    }
    
    .smallBanner h1 {
        line-height: 5.5rem;
        font-size: 30px;
    }
    
    .lightblueWrapper, .blueWrapper5 {
        margin: 0 3.75rem 80px 3.75rem;
    }
    
    .lightblueWrapper h2, .blueWrapper5 h2 {
        font-size: 34px;
    }
    
    .smallBanner2 {
        height: 120px;
        margin-top: 80px;
        margin-bottom: 60px;
    }
    
    .smallBanner2 h3 {
        line-height: 3.8rem;
        font-size: 30px;
    }
    
    .sectionContainer4 {
        margin: 0 3.75rem 0 3.75rem;
    }
    
    .imageWrapperRound {
        margin-bottom: 80px;
    }
    
    .imageWrapperRound .button {
        top: 60%;
        transform: translate(-50%, -60%);
    }
    
    .imageWrapperRound h4 {
        font-size: 22px;
    }
    
    .textContainer3 {
        margin: 0 3.75rem 80px 3.75rem;
    }


    /* DOCUMENTS MAIN CONTENT, TABLET */

    .documentsHeader, .textHeader, .textContainer4 {
        margin: 0 3.75rem 25px 3.75rem;
    }

    .documentsHeader {
        margin-top: 40px;
    }
    
    .documentsHeader h1 {
        font-size: 30px;
    }
    
    .textHeader h2 {
        font-size: 22px;

    }
}


@media screen and (min-width: 1024px){

    /* RESET CSS CHANGES, DESKTOP */

    p {
        font-size: 18px;
    }

    
    /* HEADER, DESKTOP */

    header {
        height: 7.375rem;
        padding: 0 5rem 0 5rem;
    }

    .logo img {
        height: 5.60rem;
        width: 9.538rem;
    }

    .menu {
        flex-direction: row;
        height: 0;
        position: static;
    }

    .menu li {
        padding-left: 1.875rem;
        padding-right: 1.875rem;
    }

    .menu li a {
        padding: 1.25rem 0.938rem;
        font-size: 1.375rem;
        border-top: 0;
        transition: 0.3s;
    }

    li:last-child a {
        border-bottom: 0;
    }

    .menu li a:hover {
        box-shadow: 0 -1px 0px #FFFFFF inset;
        padding: 0.938rem 0.938rem 1.563rem 0.938rem; 
    }

    .hamburger, .toggle-menu {
        display: none;
    }

    
    /* THIN BACKGROUND BANNER, DESKTOP */

    .gradientBanner {
        background-image: url("../images/all/banner_gradient_desk.jpg");
        height: 1.563rem;
        margin-top: 125px;
    }

    
    /* FOOTER, DESKTOP */

    .footer {
        background-image: url(../images/all/banner_footer_desk.jpg);
    }

    .shortcuts ul {
        line-height: 3rem;
    }

    .shortcuts a {
        font-size: 18px;
    }

    .followUs .icons {
        font-size: 30px;
    }

    .followUs .icons i{
        padding: 14px 0 14px 0;
    }


    /* BUTTON, DESKTOP */

    .button, .button2 {
        border-radius: 2rem;
        padding: 18px 30px 18px 30px;
    }
    
    .button p, .button2 p, .button a, .button2 a {
        font-size: 16px;
    }


    /* INDEX/HOMEPAGE MAIN CONTENT, DESKTOP */

    .herobanner {
        background-image: url(../images/home/herobanner_desktop.jpg);
        height: 43.125rem;
    }

    .herobanner h1 {
        line-height: 38rem;
        font-size: 68px;
    }

    .clickableGames img {
        height: 170px;
    }

    .sectionTextWrapper, .sectionTextWrapper2 {
        height: 75px;
    }

    .sectionTextWrapper h2, .sectionTextWrapper2 h2 {
        line-height: 4.5rem;
        font-size: 32px;
    }

    .sectionTextWrapper {
        margin-top: 80px;
    }

    .sectionTextWrapper2 {
        margin-top: 0;
    }

    .sectionContainer {
        flex-direction: row;
        align-items: flex-start;
    }

    .sectionContainer, .sectionContainer2 {
        margin: 60px 55px 80px 55px;
    }

    .blueWrapper, .blueWrapper2, .blueWrapper3 {
        flex-basis: calc(33.33% - 1rem);
        margin: 0 20px 0 20px;
        border-radius: 14px;
        font-size: 20px;
    }

    .blueWrapper {
        height: 900px;
    }

    .blueWrapper2 { 
        background-color: #000000;
        text-align: center;
    }

    .blueWrapper2 img {
        width: 634px;
    }

    .buttonAlignment .button2 {
        margin-bottom: 0;
    }

    .blueWrapper3 {
        height: 1150px;
    }

    .blueWrapper h3, .blueWrapper2 h3, .blueWrapper3 h3 {
        padding: 5px 0 5px 0;
        line-height: 2rem;
        font-size: 18px;
    }

    .textContainer {
        padding: 32px 24px 32px 24px;
    }

    .kids-3Dprinter {
        margin: 60px 75px 40px 75px;
    }

    .kids-3Dprinter p {
        font-size: 24px;
    }

    .dnaBanner {
        background-image: url(../images/home/banner_dna_desktop.jpg);
    }


    /* VISIT MAIN CONTENT, DESKTOP */

    .topPage-info {
        margin: 0 75px 40px 75px;
    }

    .topPage-info h1 {
        font-size: 32px;
        width: 100%;
        text-align: left;
    }

    .visit-h2 {
        font-size: 26px;
        margin-top: 45px;
    }

    .textContainer2 {
        line-height: 40px;
        padding: 6px 24px 32px 24px;
    }

    .visit-p-special {
        margin-top: 0;
        padding-top: 0;
    }

    .formContainer {
        margin: 55px 350px 125px 350px;
    }

    .formHeader {
        font-size: 26px;
        margin-bottom: 40px; 
    }

    input, textarea {
        padding: 10px 0 10px 0;
    }

    .imageWrapper {
        margin: 0 75px 125px 75px;
    }


    /* CONTRIBUTION MAIN CONTENT, DESKTOP */

    .sectionContainer3 {
        flex-direction: row;
        align-items: flex-start;
        margin: 60px 55px 0 55px;
    }
    
    .blueWrapper4 {
        flex-basis: calc(33.33% - 1rem);
        margin: 0 20px 0 20px;
        border-radius: 14px;
        font-size: 20px;
        height: 845px;
        margin-bottom: 1.563rem;
    }
    
    .blueWrapper4 h2 {
        padding: 5px 0 5px 0;
        line-height: 2rem;
        font-size: 18px;
    }

    .buttonAlignment {
        height: 100%;
        justify-content: flex-end;
    }
    
    .buttonAlignment .button2 {
        margin-bottom: 18px;
    }


    /* EXHIBITIONS MAIN CONTENT, DESKTOP */

    .smallBanner {
        background-image: url(../images/exhibitions/exhibitions_bg_desktop.jpg);
        height: 140px;
        margin-bottom: 80px;
    }
    
    .smallBanner h1 {
        line-height: 6.5rem;
        font-size: 32px;
    }
    
    .lightblueWrapper, .blueWrapper5 {
        flex-direction: row;
        margin: 0 75px 80px 75px;
    }
    
    .lightblueWrapper h2, .blueWrapper5 h2 {
        font-size: 36px;
        padding: 0 24px 0 24px;
        text-align: left;
    }

    .lightblueWrapper img, .blueWrapper5 img {
        width: auto;
    }

    .exhibitionsTextContainer {
        align-items: flex-start;
    }
    
    .smallBanner2 {
        background-image: url(../images/exhibitions/upcoming_bg_desktop.jpg);
        height: 140px;
        margin-top: 120px;
        margin-bottom: 60px;
    }
    
    .smallBanner2 h3 {
        line-height: 4.5rem;
        font-size: 32px;
    }
    
    .sectionContainer4 {
        flex-direction: row;
        margin: 0 50px 80px 50px;
    }
    
    .imageWrapperRound {
        margin-bottom: 0;
        padding: 0 25px 0 25px;
    }
    
    .imageWrapperRound .button {
        top: 65%;
        left: 50%;
        transform: translate(-50%, -65%);
    }
    
    .imageWrapperRound h4 {
        font-size: 23px;
    }
    
    .textContainer3 {
        margin: 50px 75px 75px 70px;
        line-height: 40px;
    }


    /* DOCUMENTS MAIN CONTENT, DESKTOP */

    .documentsHeader, .textHeader, .textContainer4 {
        margin: 0 75px 50px 75px;
    }

    .documentsHeader {
        margin-top: 120px;
    }
    
    .documentsHeader h1 {
        font-size: 32px;
    }
    
    .textHeader h2 {
        font-size: 26px;
        margin-top: 80px;
    }

    .documentsHeader p, .textContainer4 p {
        line-height: 30px;
    }

    .textContainer4:last-child {
        margin-bottom: 100px;
    }
}
