
@import url(./reset.css);
@import url(./variables.css);
@import url(./home.css);
@import url(./contact.css);
@import url(./contribution.css);
@import url(./exhibitions.css);
@import url(./documents.css);

/* THIS PAGE: styles.css CONTAINS THE STYLING OF THE HEADER, FOOTER, BUTTON, AND ALSO MEDIA QUERIES FOR ALL HTML PAGES */


/* HEADER STYLING */

.header {
    margin: 0 1.75rem 0 1.75rem;  /* Note to self: Order: top, right, bottom, left. */
    position: relative;
    height: 7.25rem;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
}

.logo a {
    display: block;
}

.logo img {
    display: block;
    height: 4.875rem;
    width: 8.125rem;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger {
    position: relative;
    width: 2.125rem;
    height: 0.25rem;
    display: block;
    background-color: #FFFFFF;
    border-radius: 0.313rem;
    cursor: pointer;
    z-index: 2;
    transition: 0.3s;
}

.hamburger:before, .hamburger:after {
    content: "";
    position: absolute;
    height: 0.25rem;
    right: 0;
    background-color: #FFFFFF;
    border-radius: 0.313rem;
    transition: 0.3s;
}

.hamburger:before {
    top: -0.625rem;
    width: 2.125rem;
}

.hamburger:after {
    top: 0.625rem;
    width: 2.125rem;
}

.toggle-menu {
    position: absolute;
    width: 2.125rem;
    height: 2.125rem;
    z-index: 3;
    cursor: pointer;
    opacity: 0;
    display: block;
}

.navigation input:checked ~ .hamburger {
    background: transparent;
}

.navigation input:checked ~ .hamburger:before {
    top: 0;
    transform: rotate(-45deg);
    width: 2.125rem;
}

.navigation input:checked ~ .hamburger:after {
    top: 0;
    transform: rotate(45deg);
    width: 2.125rem;
}

.navigation input:checked ~ .menu {
    right: 0;
}

.menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 5.938rem;
    right: -120%;;
    background-color: #000000;
    width: 100%;
    height: 14.875rem;
    z-index: 1;
    transition: 0.5s;
}

.menu li {
    width: 100%;
}

.menu li a {
    color: var(--textcolor-primary);
    display: block;
    text-align: center;
    padding: 1.25rem;
    font-size: 1.125;
    line-height: 1;
    border-top: 1px solid #D9D9D9;
    justify-content: center;
    transition: 0.1s;
}

li:last-child a {
    border-bottom: 1px solid #D9D9D9;
}

/* THIN BACKGROUND BANNER STYLING */

.gradientBanner {
    background-image: url("../images/all/banner_gradient.jpg");
    background-size: cover;
    height: 0.938rem;
    width: 100%;
}

/* FOOTER STYLING */

.footer {
    background-image: url(../images/all/banner_footer.jpg);
    background-size: cover;
    width: 100%;
    height: auto;
    border-top: 1px solid #001C53;
    padding-top: 30px;
    padding-bottom: 12px;
}

.footerFlex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.shortcuts ul, .followUs ul {
    margin: 0;
    padding: 0;
}

.shortcuts li {
    line-height: 2.5rem;
    color: var(--textcolor-primary);
}

.shortcuts a {
    color: var(--textcolor-primary);
    font-size: 14px;
}

.followUs .icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #FFFFFF;
    margin-bottom: 50px;
}

.followUs .icons i{
    padding: 0 12px 0 12px;
}

.footer h2, .footer h4 {
    color: var(--textcolor-primary);
}

.shortcuts h2 {
    padding-bottom: 10px;
}

.followUs h2 {
    padding-bottom: 20px;
    padding-top: 40px;
}

.footer h4 {
    text-align: center;
}

/* BUTTON STYLING */

.button {
    border-radius: 1.25rem;
    background-color: var(--btn-color);
    padding: 4px 16px 4px 16px;
    border: 0.01rem solid #95086D;
    box-shadow: 0 0.1rem #95086D;
    cursor: pointer;
}

.button p, .button a {
    color: var(--textcolor-primary);
    font-family: var(--font-nunito);
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: 700;
}



/* MEDIA QUERIES FOR TABLET AND DESKTOP, FOR ALL PAGES */


@media screen and (min-width: 760px){

    /* RESET CSS CHANGES */

    h1 {
        font-size: 52px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 22px;
    }

    h4{
        font-size: 18px;
    }

    p {
        font-size: 16px;
    }
    
    /* HEADER */

    .header {
        height: 8.563rem;
        margin: 0 3.75rem 0 3.75rem;
    }

    .logo img {
        height: 6.375rem;
        width: 10.625rem;
    }

    .menu {
        height: 16.125rem;
        top: 7.188rem;
    }

    .menu li a {
        font-size: 1.375rem;
    }

    /* THIN BACKGROUND BANNER */

    .gradientBanner {
        background-image: url("../images/all/banner_gradient_tab.jpg");
        height: 1.25rem;
    }

    /* FOOTER */

    .footer {
        background-image: url(../images/all/banner_footer_tab.jpg);
        text-align: start;
    }

    .footerFlex {
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        text-align: start;
    }

    .shortcuts li {
        line-height: 5rem;
    }

    .shortcuts a {
        font-size: 16px;
    }

    .followUs .icons {
        flex-direction: column;
        font-size: 40px;
    }

    .followUs .icons i{
        padding: 30px 0 30px 0; /**/
    }

    .followUs h2 {
        padding-top: 0;
    }

    /* HOMEPAGE MAIN CONTENT */

    .button {
        border-radius: 2rem;
        padding: 7px 28px 7px 28px;
        box-shadow: 0 0.2rem #95086D;
    }
    
    .button p, .button a {
        font-size: 1.125rem;
    }

    .herobanner {
        height: 35rem;
    }

    .herobanner h1 {
        line-height: 30rem;
    }

    .sectionTextWrapper {
        margin-bottom: 54px;
    }

    .imageWrapper, .imageWrapper2 {
        margin: 0 3.75rem 5rem 3.75rem;
    }

    .imageWrapper .textContainer, .imageWrapper2 .textContainer, .kids-3Dprinter .textContainer {
        padding: 32px 30px 32px 30px;
    }

    .imageWrapper2 .button {
        margin-bottom: 32px;
    }

    .kids-3Dprinter {
        margin: 0 3.75rem 5rem 3.75rem;
    }

    .dnaBanner {
        height: 11.75rem;
    }

    /* VISIT MAIN CONTENT */

    /* CONTRIBUTION MAIN CONTENT */

    /* EXHIBITIONS MAIN CONTENT */

    /* DOCUMENTS MAIN CONTENT */

}






@media screen and (min-width: 1024px){

    /* RESET CSS CHANGES */

    h1 {
        font-size: 68px;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 26px;
    }

    h4{
        font-size: 20px;
    }
    
    /* HEADER */

    .header {
        height: 7.375rem;
        margin: 0 5rem 0 5rem;
    }

    .logo img {
        height: 5.60rem;
        width: 9.538rem;
    }

    .menu {
        flex-direction: row;
        height: 0;
        position: static;
    }

    .menu li {
        padding-left: 1.875rem;
        padding-right: 1.875rem;
    }

    .menu li a {
        padding: 1.25rem 0.938rem;
        font-size: 1.375rem;
        border-top: 0;
        transition: 0.3s;
    }

    li:last-child a {
        border-bottom: 0;
    }

    .menu li a:hover {
        box-shadow: 0 -1px 0px #FFFFFF inset;
        padding: 0.938rem 0.938rem 1.563rem 0.938rem; 
    }

    .hamburger, .toggle-menu {
        display: none;
    }

    /* THIN BACKGROUND BANNER */

    .gradientBanner {
        background-image: url("../images/all/banner_gradient_desk.jpg");
        height: 1.563rem;
    }

    /* FOOTER */

    .footer {
        background-image: url(../images/all/banner_footer_desk.jpg);
    }

    .shortcuts li {
        line-height: 3rem;
    }

    .followUs .icons {
        font-size: 30px;
    }

    .followUs .icons i{
        padding: 14px 0 14px 0;
    }

    /* HOMEPAGE MAIN CONTENT */

    .button {
        border-radius: 2rem;
        padding: 5px 28px 5px 28px;

    }
    
    .button p, .button a {
        font-size: 1.25rem;
    }

    .herobanner {
        background-image: url(../images/home/herobanner_desktop.jpg);
        height: 43.125rem;
    }

    .herobanner h1 {
        line-height: 38rem;
    }

    .imageWrapper, .imageWrapper2 {
        display: flex;
        flex-direction: row; /*funket ikke, må lage en blueWrapper div rundt imageWrapper igjen og så sette flex row på den + evt flex wrap og så flex basis på disse her*/
    }

    /* VISIT MAIN CONTENT */

    /* CONTRIBUTION MAIN CONTENT */

    /* EXHIBITIONS MAIN CONTENT */

    /* DOCUMENTS MAIN CONTENT */



}