
:root {
    --textcolor-primary: #FFFFFF;
    --textcolor-secondary: #000000;
    --textcolor-tertiary: #70DB5C;

    --btn-color: #C60890;
    --wrappercolor: #000E2A;
    --wrappercolor-second: #0A8C8E;

    --font-overlock: 'Overlock', 'Helvetica', sans-serif; 
    --font-nunito: 'Nunito', 'Arial', sans-serif;
}