
/* THIS PAGE: "visit.css" CONTAINS THE STYLING OF MAIN CONTENT ON VISIT PAGE */

/* Reused CSS from other stylesheets: 
.visually-hidden         (found in: "styles.css")
.sectionContainer        (found in: "home.css")
.blueWrapper             (found in: "home.css")
.textContainer           (found in: "home.css")
.button                  (found in: "styles.css")
*/

.topPage-info h1 {
    font-size: 1.5rem;
    line-height: 7rem;
    text-align: center;
}

.visit-h2 {
    font-size: 1.125rem;
    color: var(--textcolor-tertiary);
    text-align: center;
    margin-top: 2.188rem;
}

.textContainer2 {
    color: var(--textcolor-primary);
    line-height: 1.25rem;
    padding: 0.625rem 0.75rem 0.625rem 0.75rem;
    text-align: center;
}

.visit-p, .visit-p-special {
    text-align: center;
}

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: #6C6C6C;
    max-width: 100%;
    height: auto;
    margin: 3.125rem 1.75rem 4.688rem 1.75rem;
}

.formHeader {
    color: var(--textcolor-primary);
    text-transform: uppercase;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1.563rem;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}

input, textarea {
    background-color: #D9D9D9;
    width: 100%;
    border: 2px solid #95086D;
    font-family: var(--font-nunito);
    font-size: 0.875rem;
    padding: 0.313rem 0 0.313rem 0;
    margin-bottom: 0.375rem;
    cursor: text;
    resize: none;
}

.formContainer .button2 {
    margin-top: 0.313rem;
}

.imageWrapper {
    background-image: url(../images/visit/helmet.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    min-height: 12.5rem;
    margin: 0 1.75rem 4.688rem 1.75rem;
}







